:root {
  --sideBarColor: #f4f4f9;
  --hoverColor: #dcdcf5;
  --textColor: #000000;
  --accentColor: #ff101f;
  --secundaryAccentColor: #ff1038;
}

nav {
  transition: width 0.3s ease-in-out;
}

nav.close {
  padding: 5px;
  width: 60px;
  overflow: hidden;
  & > ul > li span {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  nav.close {
    width: 100%;
    & > ul > li :first-child {
      display: flex;
    }
  }
}

nav ul li a.active {
  color: var(--accentColor);
}

nav svg {
  flex-shrink: 0;
}
nav a span {
  flex-grow: 1;
}

#toggleBtn {
  margin-left: auto;
  padding: 0.7em;
  cursor: pointer;
  transition: rotate ease-in-out 0.3s;
}
.rotate {
  rotate: -180deg;
}
