:root {
  --sideBarColor: #f4f4f9;
  --hoverColor: #dcdcf5;
  --textColor: #000000;
  --accentColor: #ff101f;
  --secundaryAccentColor: #ff1038;
}

nav {
  transition: width 0.3s ease-in-out;
}

nav.close {
  padding: 5px;
  width: 60px;
  overflow: hidden;
  & > ul > li span {
    display: none;
  }
}
nav ul li {
  color: var(--textColor);
  svg {
    fill: var(--textColor);
  }
}
nav ul li a.active {
  color: var(--accentColor);
  svg {
    fill: var(--accentColor);
  }
}

nav svg {
  flex-shrink: 0;
  fill: var(--textColor);
}
nav a span {
  flex-grow: 1;
}

#toggleBtn {
  margin-left: auto;
  padding: 0.7em;
  cursor: pointer;
  transition: rotate ease-in-out 0.3s;
}
.rotate {
  rotate: -180deg;
}
