---
import Layout from '../layouts/Layout.astro';
import Chatcomponet from '../components/Chat.astro';
import ChatBoubble from '../components/ChatBoubble.astro';
import Modal from '../components/Modal.astro';
import { getSession } from "auth-astro/server";
const sesion = await getSession(Astro.request);
---

<Layout title="Chat" pathname={Astro.url.pathname}>
    <section class="w-full h-full chatSection p-2" >
        <div class="[grid-area:header] flex justify-between items-center px-10">
            <h1 class="text-2xl font-bold text-center">Chat</h1>
            <button id="borrar" class="text-red-500 bg-white hover:bg-red-100 hover:text-red-600 rounded-lg px-4 py-2 text-sm font-semibold self-end">Borrar historial</button>
        </div>
        {
            sesion ? (
                <div id="output" class="[grid-area:output] items-center overflow-y-auto scroll-smooth "  >
                    <Modal />
                    <ul id="messages" class="flex flex-col max-w-[900px] gap-4 p-4 mx-auto px-6 rounded-xl w-full ">

                    </ul>
                </div>
            ):(
                <div id="output"  class="[grid-area:output]">
                    <div class="flex flex-col items-center justify-center p-4 h-full w-full">
                        <h1 class="text-zinc-500 dark:text-zinc-400  mb-8 w-full text-center text-2xl font-semibold">
                            Inicia sesión con Google para comenzar a chatear
                        </h1>
                    </div>
                </div>
            )
        }
        <div class="[grid-area:input] ">
            <Chatcomponet />
        </div>
    </section>
    <template id="message-template">
        <ChatBoubble />
    </template>
</Layout>
<style is:global>
    .chatSection {
        display: grid;
        grid-template-areas:
        "header header header"
        "output output output"
        "input input input";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 3fr auto;
        gap: 1rem;
        height: 100vh;
    }
    .You-message {
        place-self: end;
        &> div {
            background-color: #00b0ff;
        }

    }
    .Bot-message> div {
        background-color: #e0e0e0;
    }

    #send[disabled] {
        opacity: 0.5;
        pointer-events: none;
        color: gray;
    }
</style>
<script is:inline>
    window.addEventListener('animationend',() => {
        if (window.location.pathname === "/chat") {
            window.location.reload();
        }
    });
</script>

<script>
import { GoogleGenerativeAI } from "@google/generative-ai";
const getApiKey = async () => {
  const res = await fetch('/api/apiKey');
  if (res.ok) {
    return await res.json();

  } else {
    throw new Error('Error al obtener la apiKey');
  }
};
const  apiKey = await getApiKey();
console.log(apiKey);
const $ = (el: string): HTMLElement | null => document.querySelector(el);
const $btn: HTMLElement | null = $("#send");
const $borrar: HTMLElement | null = $("#borrar");
const $modal: HTMLElement | null = $("#popup-modal");
const $input: HTMLInputElement | null = $("#chat") as HTMLInputElement;
const $output: HTMLElement | null = $("#output");
const $form: HTMLFormElement | null = $("#form") as HTMLFormElement;
const $messages: HTMLElement | null = $("#messages");
const $template: HTMLTemplateElement | null = $("#message-template") as HTMLTemplateElement;
const genAI: GoogleGenerativeAI = new GoogleGenerativeAI(apiKey);
const model = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });
const chat = model.startChat();
let messages: Array<{ role: string; content: string; time: string }> = JSON.parse(localStorage.getItem('messages') || '[]');
let sessionData: { user?: { name: string; image: string }; error?: string } | null = null;

if (typeof window !== 'undefined') {
  const fetchSession = async (): Promise<void> => {
    try {
      const res: Response = await fetch('/api/session');
      if (res.ok) {
        sessionData = await res.json();
        if (messages.length > 0) {
          messages.forEach(message => {
            addMessage(message.role, message.content, message.time);
          });
        }
        if (messages.length === 0) {
          const InitialMessage = {
            role: "Bot",
            content: "Hola, soy Amelia, una inteligente asistente virtual que te ayudará a obtener información sobre la salud y bienestar y a tomar decisiones informadas para mejorar tu vida.",
            time: new Date().toLocaleTimeString(),
          };
          addMessage("Bot", InitialMessage.content, InitialMessage.time);
          messages.push(InitialMessage);
        }
      } else {
        sessionData = { error: "No hay sesión activa" };
      }
    } catch (err) {
      console.error("Error al obtener la sesión:", err);
    }
  };
  fetchSession();
}

$form?.addEventListener('submit', async (e: Event) => {
  e.preventDefault();
  const messageText: string = $input.value.trim();
  if (messageText !== "") {
    $input.value = "";
  }
  addMessage("You", messageText, new Date().toLocaleTimeString());
  $btn?.setAttribute("disabled", "");

  const userMessage = {
    role: "You",
    content: messageText,
    time: new Date().toLocaleTimeString(),
  };
  messages.push(userMessage);
  const reply = await chat.sendMessage(messageText);
  addMessage("Bot", reply.response.text(), new Date().toLocaleTimeString());
  const botMessage = {
    role: "Bot",
    content: reply.response.text(),
    time: new Date().toLocaleTimeString(),
  };
  messages.push(botMessage);
  $btn?.removeAttribute('disabled');
  if ($output) {
    $output.scrollTop = $output.scrollHeight;
  }
  localStorage.setItem('messages', JSON.stringify(messages));
});

$borrar?.addEventListener('click', () => {
  if ($modal) {
    $modal.classList.remove("hidden");
    $modal.querySelector("#close")?.addEventListener("click", () => {
      $modal.classList.add("hidden");
    });
    $modal.querySelector("#confirm")?.addEventListener("click", () => {
      localStorage.removeItem('messages');
      $modal.classList.add("hidden");
      window.location.reload();
    });
    $modal.querySelector("#cancel")?.addEventListener("click", () => {
      $modal.classList.add("hidden");
    });
  }
});

function addMessage(sender: string, message: string, time: string): void {
  const clonedTemplate: DocumentFragment = $template?.content?.cloneNode(true) as DocumentFragment;

  const $messageContainer: HTMLElement | null = clonedTemplate.querySelector("#message-container");
  const $who: HTMLElement | null = clonedTemplate.querySelector("#sender-name");
  const $time: HTMLElement | null = clonedTemplate.querySelector("#time");
  const $img: HTMLImageElement | null = clonedTemplate.querySelector("#sender-img") as HTMLImageElement;
  const $text: HTMLElement | null = clonedTemplate.querySelector("#message");

  if ($messageContainer) {
    $messageContainer.classList.add(`${sender}-message`);
  }

  if ($who) {
    if(sessionData?.user?.name) {
    $who.textContent = sender === "You" ? sessionData?.user?.name : 'Amelia';
    }
  }
  if ($text) {
    $text.textContent = message;
  }
  if ($time) {
    $time.textContent = time;
  }
  if ($img) {
    if (sessionData?.user?.image) {
    $img.src = sender === "You" ? sessionData?.user?.image : 'https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80';
    }
  }
  if ($messages) {
    $messages.appendChild($messageContainer as HTMLElement);
  }
}
</script>
