---
import Layout from '../layouts/Layout.astro';
const title = 'Inicio';
---

<Layout title={title} pathname={Astro.url.pathname}>
        <section class="w-full max-w-md">
            <h1 class="font-semibold text-2xl ">
                Bienvenido a la página de inicio
            </h1>
            <p class="text-zinc-500 dark:text-zinc-400 text-sm mb-8 w-full"></p>
        </section>
</Layout>
