<section class="mt-20 md:mt-80 flex flex-col items-center justify-center max-w-4xl mx-auto">
    <p class="text-pretty">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deserunt, voluptatem illum ipsam dolorem dicta debitis obcaecati nemo quaerat quos quas perspiciatis error est fuga reprehenderit at non commodi vel? Quam, quis.</p>
</section>
