
<li id="message-container" class="meassage-container flex items-start justify-end w-full max-w-[320px] rounded-e-xl rounded-es-xl gap-2">
    <img id="sender-img" class="sender-img w-8 h-8 rounded-full" >
    <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
       <div class="flex items-center space-x-2 rtl:space-x-reverse">
          <span id="sender-name" class="sender-name text-sm font-medium text-gray-900 dark:text-white"></span>
          <span id="time" class="time text-sm font-normal text-gray-500 dark:text-gray-400"></span>
       </div>
       <p id="message" class="message text-sm font-normal text-gray-900 dark:text-white"></p>
       <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
    </div>
</li>
