
<li id="message-container" class="meassage-container flex items-start justify-end w-full md:max-w-[320px] max-w-[250px] rounded-e-xl rounded-es-xl gap-4 ">
    <img id="sender-img" class="sender-img w-8 h-8 rounded-full" >
    <div class="flex flex-col w-full md:max-w-[320px] max-w-[250px] leading-1.5 p-3 md:p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl shadow-xl shadow-red-600/50 ">
       <div class="flex items-center space-x-2   ">
          <span id="sender-name" class="sender-name text-xs font-medium text-gray-900 truncate"></span>
          <span id="time" class="time text-xs font-normal text-gray-500  "></span>
       </div>
       <p id="message" class="message text-xs font-normal text-gray-900"></p>
       <span class="text-xs font-normal text-gray-500 ">Delivered</span>
    </div>
</li>
