---
import GoogleIcon from './icons/GoogleIcon.astro';
import type { Sesion } from '../types/types';
import {User} from './User';
interface Props {
    sesion: Sesion;
    pathname: string;
    title: string;
}
const { sesion } = Astro.props;
const { pathname } = Astro.props;
const { title } = Astro.props;
---

<section class=" p-2 relative">

    <ul class="flex row-auto justify-between p-2 ">
        <li class="text-2xl font-semibold">{title}</li>
    {sesion ? (
        <li>
            <User sesion={sesion}  pathname={pathname} client:load transition:persist/>
        </li>
      ) : (
        <li class="flex flex-row gap-4 text-pretty justify-between p-2 items-center ">
          <button
            value="google"
            name="provider"
            type="submit"
            class=" signin flex text-pretty flex-row gap-1 p-1 bg-[#ff101f] rounded-md items-center transition-all duration-300 ease-in-out hover:bg-[#ff1068] hover:scale-[1.02] hover:opacity-100"
          >
            <GoogleIcon />
            <span class="font-semibold text-sm text-balance opacity-75">
              Inicia sesión con Google
            </span>
          </button>
        </li>
      )}
      </ul>
</section>
