---
import type { Sesion } from '../types/types';
import {User} from './User';
import { SigninBtn } from './SigninBtn';
interface Props {
    sesion: Sesion;
    pathname: string;
    title?: string;
}
const { sesion } = Astro.props;
const { pathname } = Astro.props;
const { title } = Astro.props;
---

<section class=" p-2 relative">
    <ul class="flex flex-row-reverse  p-2 ">

    {sesion ? (
        <li>
            <User sesion={sesion}  pathname={pathname} client:visible transition:persist/>
        </li>
      ) : (
        <li class="flex flex-row gap-4 text-pretty justify-between p-2 items-center ">
            <SigninBtn client:visible transition:persist/>
        </li>
      )}
      </ul>
</section>
