<section id="resume" class="w-full md:max-w-4xl mt-72 flex md:flex-row  flex-col justify-center dark:bg-zinc-900/80 bg-slate-300 rounded-xl gap-4  p-8 mx-auto">
    <div class=" flex flex-col md:w-1/2  items-center justify-center">
        <p class="text-pretty text-base">
            Los <strong class="text-[#3f72af]/80 dark:text-blue-400/90">hábitos saludables</strong> son esenciales para tener una vida sana , estos son muy <strong class="text-[#3f72af]/80 dark:text-blue-400/90">importantes</strong>  y es por ello que se debe inculcar desde la <strong class="text-[#3f72af]/80 dark:text-blue-400/90">educación</strong> para que los niños y jóvenes puedan crear estos hábitos saludables en su vida.
        </p>
        <p class="text-pretty text-base">
            Esta plataforma se basa en la <strong class="text-[#3f72af]/80 dark:text-blue-400/90">Institucion Educativa Técnico Industrial El Milagroso</strong>, sin embargo el objetivo de fomentar la <strong class="text-[#3f72af]/80 dark:text-blue-400/90">salud</strong> es mucho mas <strong class="text-[#3f72af]/80 dark:text-blue-400/90">grande</strong> que solo esta institucion, por lo que se busca crear una plataforma que sea de gran utilidad para <strong class="text-[#3f72af]/80 dark:text-blue-400/90">niños y jóvenes.
            </strong>
        </p>
        </div>
            <img src="/school.webp" loading="lazy" alt="Escuela" class="w-full md:w-1/2  rounded-md" />
</section>
