<section class="w-full h-full max-w-3xl flex flex-col items-center justify-center">
    <div>
        <p>
            Los hbitos saludables son esenciales para tener una
        <img src="" alt="">
    </div>
</section>
