---
import ChartComponent from "./ChartComponent";

const Charts = [
    {
        id: "chart1",
        labels: ["Masculino", "Femenino"],
        datasets: [
            {
                label: "Sexo de estudiantes",
                data: [24, 12],
                backgroundColor: ["#36A2EB", "#FFCE56"]
            }
        ]
    },
    {
        id: "chart2",
        labels: ["Noveno", "Décimo", "Undécimo"],
        datasets: [
            {
                label: "Grado de escolaridad de los estudiantes",
                data: [11, 15, 10],
                backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0"]
            }
        ]
    },
    {
        id: "chart3",
        labels: ["Poco", "Moderado", "Mucho", "Ninguno"],
        datasets: [
            {
                label: "Conocimiento sobre hábitos saludables",
                data: [1, 21, 14, 0],
                backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0", "#FF6384"]
            }
        ]
    },
    {
        id: "chart4",
        labels: ["Sí", "No"],
        datasets: [
            {
                label: "Importancia de los hábitos saludables",
                data: [34, 2],
                backgroundColor: ["#36A2EB", "#FFCE56"]
            }
        ]
    },
    {
        id: "chart5",
        labels: ["Positivo", "Negativo"],
        datasets: [
            {
                label: "Percepción sobre hábitos saludables",
                data: [36, 0],
                backgroundColor: ["#36A2EB", "#FFCE56"]
            }
        ]
    },
    {
        id: "chart6",
        labels: ["De 0 a 2 veces", "De 2 a 4 veces", "De 4 a 6 veces", "Diariamente"],
        datasets: [
            {
                label: "Frecuencia de actividad física",
                data: [9, 18, 3, 6],
                backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0", "#FF6384"]
            }
        ]
    },
    {
        id: "chart7",
        labels: ["Sí", "No"],
        datasets: [
            {
                label: "Descanso adecuado",
                data: [10, 26],
                backgroundColor: ["#36A2EB", "#FFCE56"]
            }
        ]
    },
    {
        id: "chart8",
        labels: ["De 0 a 2 veces", "De 2 a 4 veces", "De 4 a 6 veces", "Diariamente"],
        datasets: [
            {
                label: "Frecuencia de consumo de grasas saturadas y dulces",
                data: [8, 9, 4, 15],
                backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0", "#FF6384"]
            }
        ]
    },
    {
        id: "chart9",
        labels: ["Sí", "No"],
        datasets: [
            {
                label: "Opinión sobre estrategias tecnológicas",
                data: [34, 2],
                backgroundColor: ["#36A2EB", "#FFCE56"]
            }
        ]
    },
    {
        id: "chart10",
        labels: ["Sí", "No"],
        datasets: [
            {
                label: "Existencia de herramientas para hábitos saludables",
                data: [5, 31],
                backgroundColor: ["#36A2EB", "#FFCE56"]
            }
        ]
    },
    {
        id: "chart11",
        labels: ["Buena", "Mala"],
        datasets: [
            {
                label: "Percepción de la gestión de hábitos saludables",
                data: [34, 2],
                backgroundColor: ["#36A2EB", "#FFCE56"]
            }
        ]
    },
    {
        id: "chart12",
        labels: ["Sí", "No"],
        datasets: [
            {
                label: "Necesidad de implementar hábitos saludables",
                data: [34, 2],
                backgroundColor: ["#36A2EB", "#FFCE56"]
            }
        ]
    }
];

---
<section id="stats" class="w-full relative overflow-hidden   items-center justify-center p-2 max-w-xl flex flex-row md:max-w-3xl rounded-lg flex-wrap mx-auto gap-4 mt-48">
    <h2 class="text-3xl font-bold text-center mb-8 text-[#3f72af]">Estadísticas</h2>
    <p class=" text-center p-4 text-lg">Se realizo un estudio en la poblacion estudiatil del la <strong class="text-[#3f72af]/80 dark:text-blue-400/90">Institución Educativa Técnico Industrial El Milagroso. </strong>Para medir la percepción de los <strong class="text-[#3f72af]/80 dark:text-blue-400/90">hábitos saludables</strong> . </p>
    <div id="stats-container" class="w-full flex flex-row gap-3 h-96 flex-wrap items-center justify-center">
  {Charts.map((chartData) => (
    <ChartComponent  client:visible data={chartData} id={chartData.id} />
  ))}
  <div id="more-container" class="w-full h-1/2 absolute bottom-0 left-0 bg-gradient-to-b from-transparent  to-[#3f72af]/50">
  <button id="more-btn"  class=" font-semibold absolute bottom-0 left-0 right-0 max-w-28 mx-auto w-full -translate-y-4 text-pretty  px-4 py-2 bg-[#3f72af] rounded-3xl items-center transition-all duration-300 ease-in-out  hover:scale-[1.06]
  hover:opacity-100 mt-10">
    Ver más
  </button>
  </div>
</div>
</section>
<script>
    import { $ } from "../utils";
    const stats : HTMLElement | null = $('#stats-container');
    const  moreBtn : HTMLElement | null = $('#more-btn');
    const  moreContainer : HTMLElement | null = $('#more-container')
    if(stats && moreBtn && moreContainer){
        moreBtn.addEventListener('click', () => {
            stats.classList.replace('h-96', 'h-auto');
            moreContainer.classList.add('hidden')
        })
    }
</script>
