---
import ChartComponent from "./ChartComponent";

const data = [
  {
    id: "chart1", // ID único para el primer gráfico
    labels: ["Enero", "Febrero", "Marzo", "Abril"],
    datasets: [
      {
        label: "Conocimiento sobre hbitos saludables",
        data: [65, 59, 80, 81],
        backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#4BC0C0"],
      },
    ],
  },
  {
    id: "chart2", // ID único para el segundo gráfico
    labels: ["Enero", "Febrero", "Marzo", "Abril"],
    datasets: [
      {
        label: "Ventas",
        data: [65, 59, 80, 81],
        backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0", "#FF6384"],
      },
    ],
  },
  {
    id: "chart3", // ID único para el tercer gráfico
    labels: ["Enero", "Febrero", "Marzo", "Abril"],
    datasets: [
      {
        label: "Ventas",
        data: [65, 59, 80, 81],
        backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0", "#FF6384"],
      },
    ],
  },
  {
    id: "chart4", // ID único para el cuarto gráfico
    labels: ["Enero", "Febrero", "Marzo", "Abril"],
    datasets: [
      {
        label: "Ventas",
        data: [65, 59, 80, 81],
        backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0", "#FF6384"],
      },
    ],
  },
  {
    id: "chart5", // ID único para el quinto gráfico
    labels: ["Enero", "Febrero", "Marzo", "Abril"],
    datasets: [
      {
        label: "Ventas",
        data: [65, 59, 80, 81],
        backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0", "#FF6384"],
      },
    ],
  },
  {
    id: "chart6", // ID único para el sexto gráfico
    labels: ["Enero", "Febrero", "Marzo", "Abril"],
    datasets: [
      {
        label: "Ventas",
        data: [65, 59, 80, 81],
        backgroundColor: ["#36A2EB", "#FFCE56", "#4BC0C0", "#FF6384"],
      },
    ],
  },

];
---
<section id="stats" class="w-full relative overflow-hidden   items-center justify-center p-2 max-w-xl flex flex-row md:max-w-3xl rounded-lg flex-wrap mx-auto gap-4 mt-48">
    <h2 class="text-3xl font-bold text-center mb-8 text-[#3f72af]">Estadísticas</h2>
    <p class="text-pretty text-lg">Se realizo un estudio en la poblacion estudiatil del la <strong class="text-[#3f72af]/80 dark:text-blue-400/90">Institución Educativa Técnico Industrial El Milagroso</strong> </p>
    <div id="stats-container" class="w-full  flex flex-row gap-3 h-96 flex-wrap items-center justify-center">
  {data.map((chartData) => (
    <ChartComponent  client:visible data={chartData} id={chartData.id} />
  ))}
  <div id="more-container" class="w-full h-1/2 absolute bottom-0 left-0 bg-gradient-to-b from-transparent  to-[#3f72af]/50">
  <button id="more-btn" class="bg-blue-500 hover:bg-blue-600 opacity-85 hover:opacity-100  absolute bottom-0 left-0 max-w-28 mx-auto w-full -translate-y-4 right-0 px-4 py-2 rounded-full text-white">
    Ver más
  </button>
  </div>
</div>
</section>
<script>
    import { $ } from "../utils";
    const stats : HTMLElement | null = $('#stats-container');
    const  moreBtn : HTMLElement | null = $('#more-btn');
    const  moreContainer : HTMLElement | null = $('#more-container')
    if(stats && moreBtn && moreContainer){
        moreBtn.addEventListener('click', () => {
            stats.classList.replace('h-96', 'h-auto');
            moreContainer.classList.add('hidden')
        })
    }
</script>
